<h1>Consultative services:</h1>
<p>
Stevenson Valley Therapy offers consulting services to preschools and primary schools on how to integrate fine motor, visual motor, and gross motor skills to support diverse learning abilities and foster student independence in the classroom. Collaborating with the educational team, we will identify ways to incorporate the underlying motor skills into the school’s academic expectations to meet each student’s ability level. As the student population becomes more neurodiverse and more tech driven, it is important to know how to accommodate all students. 
</p>