
<h1> Individual OT services: </h1>
<p>
Pediatric occupational therapy provides children and their caregivers training to meet their individual needs in the areas of play, self-care, leisure, school readiness, sensory processing and social skills in order to improve their independence at school, at home, and in their community. 
</p>
