<h1> Teletherapy services: </h1>
<p>
Teletherapy services are occupational therapy services delivered through interactive technologies in real time. This model allows the therapist to provide coaching to the caregiver, generalizing the skill to their child’s home environment using preferred everyday materials.    
</p>
