<h1>About Us</h1>

<div class = "jumbotron">
 <%= image_tag "BermanFamily.jpg", height: 300 %>
<p>
Jenn Berman, M.Ed., MOTR/L, is an occupational therapist with a focus on children. Her professional experience includes 11 years as an OT in hospital and elementary school settings. She's worked with parents and educators to write therapy evaluations and implement Individualized Education Program (IEP) goals and has completed training for the Handwriting Without Tears program. Jenn has also worked in hospitals in the areas of pediatrics, orthopedics, neurology, and burns. She has a master’s degree in occupational therapy from the University of Florida and holds a master's degree in special education. After graduation, she taught special education and kindergarten and later after finishing OT school, she worked in the pediatric outpatient burn clinic at Shands Hospital at UF. Jenn enjoys yoga and spending time with her husband and their four children.
</p>
 <%= image_tag "KellerFamily.jpg", height: 300 %>

<p>
Sherri Keller, MS,OTR/L is an occupational therapist and assistive technology provider with over 16 years  of experience in the field of pediatrics and assistive technology (AT). She currently is the Occupational Therapist on the Assistive Technology team for Baltimore County Public Schools. She works directly with students with either a physical or learning impairment that prevents them from accessing the curriculum as it is presented. Consulting and working with all team members she strives to find the solution that matches the task requirements while empowering the student to become independent. In addition to being a school-based OT, she has practiced in the following areas: AT in higher education, outpatient hand therapy and pediatric rehab.  Sherri and her husband share 2 children and 2 dogs and find joy in anything related to the outdoors and animals.  
</p>
</div>